{% extends 'base.html' %}
{% block header_wrapper %}
{% with authenticate=False %}
{{ block.super }}
{% endwith%}
{% endblock header_wrapper%}
{% block content %}
{% load static %}
  <section class="pt-120 pb-120 mt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5">
          <img src="{% static 'img/login.svg' %}" alt="">
        </div>
        <div class="col-lg-6 col-md-7">
          <div class="login-form">
            <div class="top-info text-center mb-40">
              <h2>USER LOGIN</h2>
              <ul class="check-list">
                <li>
                  <span class="check-icon"><svg viewBox="0 0 13.629 9.4"> <path id="Checkbox" d="M5.4,9.4,0,3.995,1.1,2.9,5.4,7.128,12.533,0l1.1,1.1Z" fill="#fff"/></svg></span>
                 New password was saved successfully. 
                </li>
              </ul>
            </div>
            <!-- Form Input Field Start -->
            <div class="text-center mt-50">
              <a href="{% url 'Features' %}" class="btn btn-log btn-icon">
                <span class="icon">
                  <span class="single-icon">
                    <svg viewBox="0 0 36.91 30.888"> <defs> <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox"> <stop offset="0" stop-color="#5574f7"/> <stop offset="1" stop-color="#60c3ff"/> </linearGradient> </defs> <g id="Group_13032" data-name="Group 13032" transform="translate(36.91) rotate(90)"> <path id="Path_29560" data-name="Path 29560" d="M9.033,30.888H0L13.4,15.439,0,0H9.042l13.39,15.439Z" transform="translate(0 22.432) rotate(-90)" fill="url(#linear-gradient)"/> <path id="Path_29561" data-name="Path 29561" d="M9.042,30.888H0L13.4,15.439,0,0H9.051l13.39,15.439Z" transform="translate(0 36.91) rotate(-90)" fill="url(#linear-gradient)"/> </g></svg>
                  </span>
                </span>
                Continue  
              </a>
            </div>
            <!-- Form Input Field End -->
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
