{% extends 'base.html' %}
{% block header_wrapper %}
{% with authenticate=False %}
{{ block.super }}
{% endwith%}
{% endblock header_wrapper%}
{% block content %}
{% load static %}
<div class="text-center" style="position: absolute;z-index: 2;width: 100%;">
  <div class="alert alert-success resend-email-message" role="alert" style="display: none;">
    We have sent you an email for verification please verify it.
  </div>
</div>
<section class="pt-120 pb-120 mt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5">
        <img src="{% static 'img/login.svg' %}" alt="">
      </div>
      <div class="col-lg-6 col-md-7">
        <div class="login-form">
          <div class="top-info text-center mb-40">
            <h2>USER LOGIN</h2>
            <p>Your privacy is important to us. </p>
            <p>We have sent a verification code to your email address.
              Enter the verification code below. </p>
          </div>
          <form action="" class="text-center" method="POST" id="login-forgot-code-form">
            <div class="alert alert-danger" role="alert" style="display: none;">
              Please enter valid code!
            </div>
            <div class="input-field d-inline-block  input-text-bg">
              <input class="form-input w-auto text-center" type="text" placeholder="verification code" name="Ucode">
            </div>
            <div class="text-center mt-20">
              <button type="submit" class="btn btn-log btn-icon">
                <span class="icon">
                  <span class="single-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.645 39.484">
                      <g id="Group_14683" data-name="Group 14683" transform="translate(-1183.006 -784.066)">
                        <rect id="Rectangle_2039" data-name="Rectangle 2039" width="22.645" height="22.645"
                          transform="translate(1184.506 799.404)" fill="none" stroke="#3b86ff" stroke-miterlimit="10"
                          stroke-width="3" />
                        <path id="Path_29601" data-name="Path 29601"
                          d="M242.028,141.75h0a6.928,6.928,0,0,0-6.928,6.928v6.911h13.839v-6.911a6.928,6.928,0,0,0-6.911-6.928Z"
                          transform="translate(953.8 643.816)" fill="none" stroke="#3b86ff" stroke-miterlimit="10"
                          stroke-width="3" />
                        <line id="Line_256" data-name="Line 256" y2="7.263" transform="translate(1195.828 808.362)"
                          fill="none" stroke="#1585d8" stroke-linejoin="round" stroke-width="3" />
                      </g>
                    </svg>
                  </span>
                </span>
                Verify
              </button>
              <a href="#" class="send-link mt-20" id="resend">Send code again</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {
    $('#resend').click(function (e) {
      e.preventDefault();
      console.log("You clicked foo! good work");
      $.ajax({
        type: 'GET',
        url: "{% url 'resend_code' %}",
        success: function (response) {
          console.log("Email Sent Successfully")
          $('.resend-email-message').show();
            $('.resend-email-message').delay(4000).fadeOut('slow');
        },
        error: function (response) {
          console.log(response);
          console.log("Error! something went wrong");
        }
      });
    });
    $("#login-forgot-code-form").submit(function (e) {
      e.preventDefault();
      var serializedData = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: "{% url 'verify_login_forgot_code' %}",
        data: serializedData,
        success: function (response) {
          if (response.isValid) {
            location.href = "{% url 'LoginNewPass' %}"
          }
          else {
            $('.alert-danger').show();
          }
        },
        error: function (response) {
          console.log(response);
          console.log("Error! something went wrong");
        }
      });
    });
  });
</script>
{% endblock %}